server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/serenium_db
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
